{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'ads_class_update.css' %}">
    
</head>
<body>

    <!-- Sidebar Navigation -->
    

    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <h2>Update Class</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Update</button>
            </form>
        </div>
    </div>

</body>
</html>
