{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <style>
       
    </style>
</head>
<body>
    <div class="container">
        <!-- Left side with image -->
        <div class="left"></div>

        <!-- Right side with form -->
        <div class="right">
            <h2>Student Performance Platform:</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            
        </div>
    </div>
</body>
</html>
