
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'teachers_list.css' %}">
    <style>
       
    </style>
</head>
<body>
    <!-- Sidebar Navigation -->
    <div class="sidebar">
        <h2>Admin Dashboard</h2>
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="{% url 'create_student' %}">Create Student</a></li>
            <li><a href="{% url 'create_teacher' %}">Create Teacher</a></li>
            <li><a href="#">Generate Reports</a></li>
            <li><a href="{% url 'send_message_to_teacher' %}">Send Message</a></li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Students List -->
        <section>
            <h2>Manage Teachers</h2><br>
            <a href="{% url 'create_teacher' %}" class="btn">Create Teacher</a><br><br>
            <ul>
                {% for teacher in teachers %}
                    <li>
                        <a href="{% url 'ads_teacher_update' teacher.id %}" class="link">{{ teacher.name }} ({{ teacher.subject }})</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</body>
</html>